.first-screen {
    padding-top: 100px;
    padding-bottom: 100px;

    .container {
        position: relative;
    }

    .slogans {
        max-width: 601px;

        h3 {
            font-size: 80px;
            padding-top: 0;
            margin-bottom: 50px;
        }

        p {
            max-width: 370px;
            font-size: 18px;
            line-height: 160%;
            margin-bottom: 50px;
        }

        button {
            margin-bottom: 0;
        }

    }

    .image img {
        position: absolute;
        top: 74px;
        right: 0;
        height: auto;
        width: 770px;
    }
}